.form-steps-container {

    h1,
    p {
        margin: 0.5rem 0;
    }

    h1 {
        color: var(--text-dark-primary);
        font-size: 1.6rem;
    }

    p {
        color: var(--text-dark);
    }

    margin-top: 1rem;
    margin-bottom: 3rem;
}

.form-steps-wrapper,
.form-step {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
}

.form-step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--text-dark-terciary);

    transition: 0.2s ease;
    min-width: 0;
}

.form-step.active {
    border-bottom: 2px solid var(--color-primary);

    .step-content {
        color: var(--text-dark-secondary);
    }

    .step-number {
        background-color: var(--color-primary);
    }

}


.step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-dark-terciary);
    border-radius: 3rem;

    min-width: 1.1rem;
    max-width: 1.1rem;
    width: 1.1rem;

    height: 1.1rem;
    min-height: 1.1rem;
    max-height: 1.1rem;

    margin-right: 1.5rem;
    color: #fff;
    font-size: 0.9rem;

    transition: 0.2s ease;
}

.step-content {
    font-size: 0.9rem;
    flex-grow: 1;
    padding-right: 1rem;
    color: var(--text-dark-terciary);

    transition: 0.2s ease;
}

.form-list-main,
.form-list-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 5rem;
}

.form-list-itens.disabled {


    .square-btn {
        cursor: default;
        color: var(--text-dark-terciary);

        span {
            background-color: var(--text-dark-terciary);
        }
    }
}

.form-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;

    

    .form-item-content {
        display: flex;
        align-items: center;


        .form-item-number {
            background-color: var(--color-primary);
            color: #fff;
            box-shadow: 0px 3px 5px 0px rgba(22, 22, 22, 0.144);
    
            border-radius: 0.2rem;
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 0.6rem;
    
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
        }

        p {
            line-height: 1.2rem;
            span {
                color: var(--text-dark-secondary);
                font-size: 0.95rem;
            }
        }

        &:hover{
            cursor: pointer;
            .form-item-number{
                background-color: var(--color-primary-hover);
            }
        }
    }

    
}

.form-list-counter {
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.form-instructions{
    text-align: center;
    color: var(--text-dark-medium);
    margin-bottom: 3rem;
    line-height: 1.4rem;
    font-size: 1rem;
    padding: 0 1rem;
}


@media screen and(min-width: 375px) and(max-width: 500px) {
    .step-number {
        margin-right: .8rem;
    }

    .step-content {
        padding-right: .4rem;
    }
}


@media screen and(max-width: 375px) {
    .step-number {
        margin-right: .5rem;
    }

    .step-content {
        padding-right: .2rem;
    }
}