.form-controls{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.permissions-list {
    width: 100%;

    .permission-row-item {
        display: flex;
        padding: 0.4rem 1rem;
        justify-content: space-between;
        width: 100%;
        border: 1px solid rgb(222, 231, 235);
        border-radius: 0.4rem;
        background-color: #f4f6f7;
        min-height: 5rem;
        margin-bottom: 0.8rem;

        .permission-title {
            width: 35%;
            min-width: 150px;
            display: flex;
            align-items: center;

            .title.disabled{color: var(--text-dark-terciary);}

            input[type="checkbox"] {
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 0.4rem;
            }
        }

        .permission-toggle {
            display: flex;
            flex-grow: 1;

            &-item {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                padding: 0.6rem;

                span {
                    font-size: 0.9rem;
                    color: var(--text-dark-secondary);
                    margin-bottom: 0.3rem;
                }

                span.disabled{color: var(--text-dark-terciary);}

                .toggle-icon {
                    stroke: #868686;
                    cursor: pointer;
                    height: 1.15rem;
                    width: 1.15rem;
                    transition: 0.15s;

                    &:hover {
                        stroke: #6fb687;
                    }

                    &:active {
                        stroke: #48524b;
                    }

                    &.active {
                        stroke: #15d856;

                        &:hover {
                            stroke: #6fb687;
                        }

                        &:active {
                            stroke: #48524b;
                        }
                    }
                }
            }
        }
    }


    @media screen and(min-width:641px) and(max-width:920px) {
        .permission-row-item {
            .permission-toggle {
                flex-direction: column;
                flex-grow: 0;


                &-item {
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0.4rem;

                    span {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
    }

    @media screen and(max-width:640px) {
        .permission-row-item {
            padding: 0.4rem 1rem;
            .permission-toggle {
                flex-direction: column;
                flex-grow: 0;


                &-item {
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0.2rem;

                    span {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
    }
}