#root{
    height: 100vh;
}

* {
    font-size: 16px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}

:root{
    --color-primary: #0099E8;
    --color-primary-hover: #038cd1;
    --color-primary-dark: #007dbb;

    --color-secondary: #C7C7C7;
    --color-secondary-hover: #a5a5a5;


    --text-dark-primary: #252c33;
    --text-dark-secondary: #474a4c;
    --text-dark-medium: #6e7174;
    --text-dark-terciary: #BCBCBC;

    

    font-size: 16px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}