.account-container{

    .main{
        background-color: var(--color-primary);
        padding: 1rem 5%;
        
        div{
            background-color: var(--color-primary-dark);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;

            svg{
                height: 150px;
                width: 150px;
                fill: #fff;
            }

            h1{
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
            }

            h2{
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
}