.dashboard-alert-card{
    margin-bottom: 2rem;
    h1{
        font-size: 1.2rem;
        color: #333e4a;
        margin-bottom: 0.3rem;
        font-weight: 500;
    }

    p{
        color: #626a74;
        font-size: 1rem;
        white-space:pre-line;
        line-height: 1.4rem;
    }
}