.navigation-back-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-dark-medium);
    cursor: pointer;

    svg{
        margin-right: 0.4rem;
    }

    &:hover{
        color: var(--text-dark-secondary);
    }
}