.followup-title{
    display: flex;
    justify-content: space-between;
}
.add-status-btn{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: var(--color-primary);

    &:hover{
        color: var(--color-primary-dark);
    }

    svg{
        width: 1.1rem;
        height: 1.1rem;
        margin-right: 0.2rem;
    }
}

.followup-container {}

.followup-card {

    border-bottom: 1px solid rgb(228, 228, 228);
    // padding-bottom: 1rem;
    margin-top: 1rem;

    .disabled{
        color: var(--text-dark-terciary);
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        border: 0;
    }


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--text-dark-secondary);
        margin-bottom: 1rem;
    }

    &__header-wrapper{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-direction: column;

    }

    &__status-icon {
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
        border: 2.5px solid #c2c2c2;
        border-radius: 1rem;
        margin-right: .5rem;
    }

    &__title {
        font-weight: 500;
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        &.disabled{
            color: var(--text-dark-terciary);
        }
    }

    &__time {
        margin-top: 0.3rem;
        margin-left: 1.2rem;
        font-size: .9rem;
        color: var(--text-dark);
    }

    &__content {
        color: var(--text-dark);
        margin-bottom: 2rem;
        white-space: pre-line;
        line-height: 1.4rem;
    }


    &__anexos-container {
        h1 {
            display: flex;
            align-items: center;
            font-size: 0.95rem;
            margin-bottom: 0.7rem;
            margin-left: 0.3rem;
            color: var(--text-dark);

            svg {
                margin-right: 0.3rem;
            }
        }
    }

    &__anexos {
        display: flex;
        flex-wrap: wrap;
    }


    .anexo-card {
        margin-right: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 0.6rem;
        position: relative;

        border: 1px solid rgb(223, 223, 223);
        border-radius: .2rem;
        width: 300px;
        height: 4.5rem;
        cursor: pointer;
        color: var(--text-dark-terciary);
        overflow: hidden;

        p {
            font-size: .9rem;
            word-break: break-all;
        }

        .file-icon {
            background-image: url('../../../assets/Icons/file.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            color: #fff;
            font-size: 0.9rem;
            text-decoration: none;
            user-select: none;

            width: 2rem;
            height: 2.8rem;
            margin-right: 0.5rem;

            &.disabled{
                background-image: url('../../../assets/Icons/fileDisabled.svg');
            }
        }

        .details{
            position: absolute;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%;
            background-color: rgb(245, 249, 250);
            opacity: 0;
            transform: scale(0.4);
            transition: 0.15s ease-in-out;

            display: flex;
            align-items: flex-start;
            padding: .6rem;

            p{
                margin-top: 1rem;
            }

            svg{
                margin-right: 1rem;
                width: 2.8rem;
                height: 2.8rem;
                color: var(--color-primary);
            }
        }

        &:hover .details{
            opacity: 1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: scale(1);

        }
    }
}


// Nova de ocorrência{ color: #1094ff}
// Em andamento{ color: #22ccb5}
// Em análise{ color: #ff9100}
// Avançou{ color: #22ccb5}
// Finalizando{ color: #22cc6f}
// Aguardando{ color: #fdda16}
// Cancelada{ color: #f02c2c}
// Concluída{ color: #20bd42}
// Reaberta{ color: #ffd900}