.chat-messages-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #eee;
    overflow: hidden;

    .modal-chat {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1b1b1b70;

        display: none;
        align-items: center;
        justify-content: center;

        &.active {
            display: flex;
        }

        .modal-container {
            width: 80%;
            height: 80%;
            border-radius: 0.8rem;
            background-color: #fff;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            padding: 2rem 2rem;


            .button-container,
            .modal-controls {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }

            .close-btn {
                border: 0;
                background-color: unset;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 0.5rem;
                width: 2.8rem;
                height: 2.4rem;
                transition: background 0.2s ease-in-out;

                &:hover {
                    background-color: #eee;
                }
            }


            .dropzone-container {
                width: 100%;
            }
        }

    }


    .no-message {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 1.4rem;
            color: var(--text-dark);
        }
        img {
            max-width: 300px;
        }

        p {
            text-align: center;
        }
    }

    .chat-contato-header {
        height: 4.5rem;
        background-color: #f2f6f8;
        position: relative;
        padding: 1rem;
        padding-top: 0rem;
        display: flex;
        align-items: center;
        border-top: 1.8rem solid #fff;
        // z-index: 2;
        border-bottom: .5px solid rgb(202, 202, 202);
        box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.05);

        span{
            flex-grow: 1;
        }

        button{
            background: 0;
            border: 0;
            cursor: pointer;
            transition: 0.2s;

            svg{
                width: 1.2rem;
                height: 1.2rem;
                fill: var(--text-dark);
            }

            &:hover{
                svg{ fill: var(--color-primary);}
            }
        }

        button.contatos-btn{
            margin-right: 0.5rem;
        }

        button.details-btn{
            svg{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }

        &::before {
            z-index: 1;
            content: '';
            position: absolute;
            width: 100%;
            height: 1%;
            left: 0;
            top: -1rem;
            border-radius: 1rem 1rem 0 0;
            border-top: 1rem solid #f2f6f8;
        }
    }

    .message-container {
        padding: 1.5rem;
        flex-grow: 1;
        overflow-y: auto;

        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 5px;
            height: 98px;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #CDCDCD;
        }

        &::-webkit-scrollbar-track {
            background-color: #F0F0F0;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: #b1acac;
            }
        }


        .author-message {
            margin-top: 1rem;
        }

        .author-message,
        .author-message a {
            text-decoration: none;
            font-size: 0.8rem;
            color: var(--text-dark);
            transition: color 0.2s ease-in-out;
        }

        .author-message a:hover {
            color: var(--color-primary-hover);
        }

        .message-card-wrapper {
            display: flex;
            flex-direction: column;

            &.my-message {
                align-items: flex-end;
            }

            .message-card {
                position: relative;
                margin-bottom: 1rem;

                display: flex;
                flex-direction: column;

                width: 70%;
                padding: 0.8rem;

                background-color: #fff;
                border-radius: 0 0.4rem 0.4rem 0.4rem;
                box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.05);

                &::before {
                    left: -15px;
                    top: 0;
                    position: absolute;
                    content: '';
                    width: 2rem;
                    height: 2rem;
                    width: 0;
                    height: 0;

                    border-style: solid;
                    border-width: 15px;
                    border-color: #fff;

                    border-left: 15px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 0px solid transparent;

                }
            }

            .message-card.my-message {
                background-color: #b0e5ff;
                border-radius: 0.4rem 0 0.4rem 0.4rem;
                box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.05);

                &::before {
                    left: 100%;
                    border-color: #b0e5ff;

                    border-left: 0px solid transparent;
                    border-right: 15px solid transparent;
                }
            }


            .message-card__anexos {
                display: flex;
                flex-wrap: wrap;


                .anexo-card {
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-shrink: 0;
                    flex-grow: 0;
                    padding: 0.6rem;
                    position: relative;

                    border-radius: .2rem;
                    background-color: #54a3ca;
                    max-width: 300px;
                    flex-grow: 1;
                    height: 4.5rem;
                    cursor: pointer;
                    color: #fff;
                    overflow: hidden;

                    p {
                        font-size: .9rem;
                        word-break: break-all;
                    }

                    .file-icon {
                        background-image: url('../../../assets/Icons/file.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;

                        color: #fff;
                        font-size: 0.9rem;
                        text-decoration: none;
                        user-select: none;

                        width: 2rem;
                        height: 2.8rem;
                        margin-right: 0.5rem;

                        &.disabled {
                            background-image: url('../../../assets/Icons/fileDisabled.svg');
                        }
                    }

                    .details {
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        width: 100%;
                        height: 100%;
                        color: var(--text-dark-terciary);
                        background-color: rgb(245, 249, 250);
                        opacity: 0;
                        transform: scale(0.4);
                        transition: 0.15s ease-in-out;

                        display: flex;
                        align-items: flex-start;
                        padding: .6rem;

                        p {
                            margin-top: 1rem;
                        }

                        svg {
                            margin-right: 1rem;
                            width: 2.8rem;
                            height: 2.8rem;
                            color: var(--color-primary);
                        }
                    }

                    &:hover .details {
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        transform: scale(1);

                    }
                }
            }
        }
    }

    .chat-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 1rem;
        height: 3.5rem;
        padding: 0 0.4rem;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.05);

        input {
            background-color: #fff;
            height: 3rem;
        }

        .anexo-btn {
            border: unset;
            background-color: unset;
            border-radius: 0.5rem;
            width: 2.8rem;
            height: 2.4rem;
            transition: background 0.2s ease-in-out;
            color: rgb(95, 95, 95);

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0 0.4rem;

            &:hover {
                background-color: #eee;
            }

            svg {
                margin-left: 0.18rem;
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        .submit-btn {
            border: unset;
            background-color: var(--color-primary);
            border-radius: 0.5rem;
            width: 2.8rem;
            height: 2.4rem;
            transition: background 0.2s ease-in-out;
            color: #fff;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                margin-left: 0.18rem;
                width: 1.2rem;
                height: 1.2rem;
            }


            &:hover {
                background-color: var(--color-primary-dark);
            }
        }
    }
}