.chat-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
}




.contatos-container {
    flex-shrink: 0;
    width: 25%;
    overflow: hidden;
    overflow-y: auto;
}

.chat-details-container {
    flex-shrink: 0;
    width: 20%;
    overflow: hidden;
    overflow-y: auto;
}